@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 21 128 61;
  --color-secondary: 140 18 18;
  --color-title: 24 24 24;
  --color-subtitle: 49 146 85;
  --color-primary-bg: 255 255 255;
  --color-secondary-bg: 241 245 249;
}

* {
  font-family: "Hind Siliguri", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  input {
    @apply w-full !outline-none;
  }
}

.my-container {
  @apply mx-auto w-[90%] max-w-[1400px];
}
